.form-notification {
  .title {
  }
  .form {
    .itemForm {
      & > span {
        width: 200px;
        max-width: 200px;
        text-align: right;
        margin-right: 20px;
      }
      display: flex;
      align-items: center;
    }
    .lastItemForm {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      button {
        margin-left: 20px;
        &:first-of-type {
          margin-left: 0px;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .form-notification {
    .title {
    }
    .form {
      .itemForm {
        display: initial;
      }
      .lastItemForm {
      }
    }
  }
}
.FBaseCourse-item__category {
  button {
    margin-left: 20px;
  }
}
@media (max-width: 1200px) {
  .FBaseCourse-item__category {
    button {
      margin: 20px 0px;
    }
  }
}
